# Dependencies
node_modules/
*/node_modules/

# Production build
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Archive files
*.zip

# Environment variables
.env
.env.local